.header {
	background: #000;
}

#story-date, #date {
	background: #910020;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

#story-title {
    font-weight: bold;
    font-size: 16px;
}

#story-summary {
    font-style: italic;
    font-size: 12px;
}

#story-transcript {
    font-size: 12px;
}

#transcript-header {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

#story-audio{
    margin-top: 10px;
    margin-bottom: 10px;
}
