.header {
	background: #000;
}

.separator {
    color: #fff;
	font-size: 16px;
	text-align: center;
	background: #910020;
}

#story-date {
	background: #000;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

#story-title {
    font-weight: bold;
    font-size: 16px;
}

#story-summary {
    font-style: italic;
    font-size: 12px;
}

#story-transcript {
    font-size: 12px;
}

#story-title, #story-summary, #story-transcript, #audio-controls {
	margin-left: 10px;
}

#transcript-header {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

#story-audio {
    margin-bottom: 5px;
}

#audio-controls {
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
}